<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="jquery.js"></script>
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
</head>
<style>
    .gray{
        background:#ccc;
    }
</style>
<!--[if lt IE9]>
<script src="http://cdn.static.runoob.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<script>
$(function(){
 var c=new Vue({
     el:"#box",
     data:{
         msg:"",
         myData:[],
         now:-1
     },
     methods:{
         get:function(ev){
                if(ev.keyCode==38 || ev.keyCode==40)return;
                if(ev.keyCode==13){
                    window.open("https://www.baidu.com/s?wd="+this.msg);
                    this.msg="";
                }
                 this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                     wd:this.msg
                 },{
                     jsonp:'cb'
                 }).then(function(res){
                        this.myData=res.data.s
                 },function(){
                     alert('失败了');
                 })

         },
         changeDown:function(){
             this.now++;
             if(this.now==this.myData.length){
                 this.now=-1;
             }
             this.msg=this.myData[this.now];
         },
         changeUp:function(msg){
             this.msg=msg;
             this.now--;
             if(this.now==-2){
                 this.now=this.myData.length-1;
             }
             this.msg=this.myData[this.now];
         }
     }
 })

});

</script>
<body>
<div id="box">
    <input type="text" v-model="msg"  @keyup="get($event)" @keydown.down="changeDown()"@keydown.up="changeUp()" />
    <br>
      <ul>
          <li v-for="v in myData" :class="{gray:$index==now}">{{v}}</li>
      </ul>
    <p v-show="myData.length==0">暂无数据</p>

</div>

</body>

</html>